.row
  .col-xs-4.col
    form
      .form-group
        h4 Add Homework
        label(for='name') Homework Name
        input.form-control#name(type='text', ng-model='homework.name')
      .form-group
        label(for='description') Homework Description
        input.form-control#description(type='text', ng-model='homework.description')
      .form-group
        label(for='due') Homework Due Date
        input.form-control#due(type='date', ng-model='homework.duedate')
      .form-group
        label(for='category') Homework Category
        input.form-control#category(type='text', name='category', ng-model='homework.category')
      .form-group
       button.btn.form-control.btn-success(type='submit', ng-click='add(homework)', ng-hide='editing') Add Homework Item
      .form-group
       button.btn.form-control.btn-danger(type='submit', ng-click='save(homework)', ng-show='editing') Update Homework Item
//- .row
//-  .col-xs-12
//-   table.table.table-striped.table-hover
//-    thead
//-     tr
//-      th Name
//-      th Aisle
//-      th Priority
//-      th Quantity
//-      th Date Created
//-      th Is Picked Up
//-      th Photo
//-      th Edit
//-      th Delete
//-    tbody
//-     tr(ng-repeat='food in foods')
//-      td {{food.name}}
//-      td {{food.aisle}}
//-      td {{food.priority}}
//-      td {{food.qty}}
//-      td {{food.createdAt | date: 'yyyy-MM-dd HH:mm.ss'}}
//-      td: input(type='checkbox', ng-model='food.isPicked', ng-click='toggleCheckbox(food)' ng-class="(food.isPicked === true) ? 'picked' : 'notPicked'")
//-      td: img.img-responsive.img-thumbnail.photo(ng-src='{{food.photo}}', ng-class='photo')
//-      td: button.btn.btn-xs.btn-warning(ng-click='editFood(food)') Edit
//-      td: button.btn.btn-xs.btn-danger(ng-click='destroy(food)') Delete
