.row
  .col-xs-4.col
    form
      .form-group
        h4 Add Homework
        label(for='name') Homework Name
        input.form-control#name(type='text', ng-model='homework.name')
      .form-group
        label(for='description') Homework Description
        input.form-control#description(type='text', ng-model='homework.description')
      .form-group
        label(for='due') Homework Due Date
        input.form-control#due(type='date', ng-model='homework.dueDate')
      .form-group
        label(for='category') Homework Category
        input.form-control#category(type='text', name='category', ng-model='homework.category')
      .form-group
       button.btn.form-control.btn-success(type='submit', ng-click='add(homework)', ng-hide='editing') Add Homework Item
      .form-group
       button.btn.form-control.btn-danger(type='submit', ng-click='save(homework)', ng-show='editing') Update Homework Item
.row
 .col-xs-12
  table.table.table-striped.table-hover
   thead
    tr
     th Homework Name
     th Homework Description
     th Homework Due Date
     th Homework Category
     th Is Completed?
     th Edit
     th Delete
   tbody
    tr(ng-repeat='homework in homeworks')
     td {{homework.name}}
     td {{homework.description}}
     td {{homework.dueDate | date: 'yyyy-MM-dd'}}
     td {{homework.category}}
     td: input(type='checkbox', ng-model='homework.isPicked', ng-click='toggleCheckbox(homework)' ng-class="(food.isPicked === true) ? 'picked' : 'notPicked'")
     td: button.btn.btn-xs.btn-warning(ng-click='editFood(homework)') Edit
     td: button.btn.btn-xs.btn-danger(ng-click='destroy(homework)') Delete
